#post-crd{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
}

#post-crd .post-creator{

    width: 40%;
    max-width: 500px;
    margin : 5rem auto;
    height: 12rem;
    display: grid;  
    grid-template-rows: 1fr;
    row-gap: 10px;
}


#post-crd .post-creator textarea{
    font: 500 1.25rem sans-serif;
    color: rgb(94, 92, 92);
    padding: 3.5%;
    margin : 0 auto;
    width: 96.5%;

}


#post-crd .post-creator button{

    width: 35%;
    height: 30px;
    justify-self: center;

}



#post-crd .post-list{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#post-crd .post-list ul{

    width: 50%;
    margin : 1.5rem 0;
    padding: 0;
    display: grid;
    row-gap: 7px;
    align-items: flex-start;

}

#post-crd .post-list span{
    font : 110 1.1rem sans-serif;
}


#post-crd .post-list .post-options{
    width: 20%;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2px;

}

#post-crd .post-list .post-options button{
    background: none ;
    border : none;
    opacity: 0.3;
}

#post-crd .post-list .post-options button:hover{
    opacity: 1;
}
#post-crd .post-list .post-content{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 3px;
    height: 80px;
    overflow-y:auto;
    overflow-x: hidden;
    font : 500 0.95rem Archivo

}
