<mat-sidenav-container class="side-nav-container">
    <mat-sidenav class="sidenav " mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
    
            <span>
                <a href="" mat-list-item  routerLink = "/login">
                    <i class="material-icons">
                        login
                    </i>
                    Account
                </a>
            </span>
            <span>
                <a href="" mat-list-item routerLink = "/posts">
                <i class="material-icons">
                    dynamic_feed
                </i>
                Posts
            </a>
            </span>




        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content class = "views-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>